:root {
   --primary-color: #2c3e50;
   --secondary-color: #3498db;
   --background-color: #ffffff;
   --text-color: #333333;
   --accent-color: #e74c3c;
 }
 
 body {
   font-family: 'Roboto', sans-serif;
   line-height: 1.8;
   color: var(--text-color);
   background-color: var(--background-color);
   margin: 0;
   padding: 0;
 }
 
 .container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 40px 20px;
 }
 
 header {
   background-color: var(--background-color);
   color: var(--primary-color);
   text-align: center;
   padding: 60px 0;
   margin-bottom: 20px; /* Reduced from 40px */
 }
 
 h1 {
   margin: 0;
   font-size: 3.5em;
   font-weight: 700;
   letter-spacing: -1px;
 }
 
 h2 {
   color: var(--primary-color);
   font-size: 2.5em;
   font-weight: 300;
   margin-bottom: 30px;
   position: relative;
   padding-bottom: 10px;
 }
 
 h2::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 50px;
   height: 3px;
   background-color: var(--accent-color);
 }
 
 h3 {
   color: var(--secondary-color);
   font-size: 1.8em;
   font-weight: 400;
 }
 
 nav {
   margin-bottom: 40px; /* Add this line */
 }
 
 nav ul {
   list-style-type: none;
   padding: 0;
   display: flex;
   justify-content: center;
   margin-top: 0; /* Change from 20px to 0 */
   margin-bottom: 0; /* Add this line */
 }
 
 nav ul li {
   margin: 0 15px;
 }
 
 nav ul li a {
   color: var(--primary-color);
   text-decoration: none;
   font-weight: 500;
   transition: color 0.3s ease;
 }
 
 nav ul li a:hover {
   color: var(--accent-color);
 }
 
 .skills-list {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   padding: 0;
 }
 
 .skills-list li {
   background-color: var(--secondary-color);
   color: white;
   padding: 5px 15px;
   border-radius: 20px;
   font-size: 0.9em;
 }
 
 .job {
   margin-bottom: 40px;
 }
 
 .date {
   color: var(--accent-color);
   font-weight: 300;
 }
 
 @media (max-width: 768px) {
   .container {
     padding: 20px;
   }
   h1 {
     font-size: 2.5em;
   }
   h2 {
     font-size: 2em;
   }
 }